*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Cabecera1*/
.header{
    padding: 40px;
    background-color: #598392;
}
.subHeader{
    background-color: #124559;
    overflow: hidden;
}
/*Menu*/
ul{
    list-style-type: none;
}

li{
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    color: #ffff;
    padding: 14px 16px; 
}
li a:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.Right{
    float: right;
    background-color: brown;
    color: #ffff;
    margin-right: 5px;
}
/********/

/*Cuerpo*/
.body{
    display: table;
    clear: both;
    content: "";
    padding: 3px;
}
.Container{
    float: left;
    
}
.card{
    background-color: #778da9;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;

}
.LeftContainer{
    width: 75%;
}
.LeftContainer .card p,h2,h5{
    padding: 15px;
}

.fakeimg{
    margin: 0 8px;
    padding: 5px;
}
   

.RightContainer{
    width: 25%;
    padding-left: 20px;
}


/*Final*/
.footer{
  padding: 30px;
  text-align: center;
  background: #598392;
  margin-top: 20px;
  color: #ffff
}
